#doc-name {
  font-weight: bold;
  font-size: 20px;
}

.health {
  display: flex;
  flex-direction: column;
}

.doctor {
  display: flex;
  flex-direction: column;
}

#output {
  background-color: lightgrey;
  margin-left: 20px;
}
* {
  margin-left: 10px;
}
